{% load static %}

<!DOCTYPE html>
<html>

    <head>
        {% comment %} <link rel="stylesheet" href="index.css" /> {% endcomment %}
        <title>avue project maker</title>
        <style>
            img {
                width: 100%;
            }
            *{
                margin:0;
              }
        </style>
    </head>

    <body>
        <p>
            {% comment %} <img src="/media/output.png" /> {% endcomment %}
            <img src="{% static 'media/output.png' %}">
        </p>
        <p>
            <a href="https://avue-project-maker.onrender.com">refresh</a>
        </p>
    </body>
</html>