{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>avue</title>
        <style>
            img {
                width: 100%;
            }
            *{
                margin:0;
              }
        </style>
    </head>

    <body>
        <p>
            <img src="{% static 'media/private/output.png' %}">
        </p>
        <p><font size="5">
            {% comment %} <a href="http://127.0.0.1:8000/private">Remake</a> {% endcomment %}
            <a href="https://avue-project-maker.onrender.com/private">Remake</a>
        </font></p>
        <p style="text-align: right">
            <a href="#" onclick="history.back(-1);return false;">トップページに戻る</a>
        </p>
    </body>
</html>