{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Project maker</title>
  </head>
  <body>
    <h1 class="center">Project maker</h1>
    <p>※当サイトは利用客である投稿主が個人的に製作したものであり、avue様の運営とは一切関係がありません。</p>
    <br>
    <p><font size="5">
      {% comment %} <a href="http://127.0.0.1:8000/avue">avue spray wall</a> {% endcomment %}
      <a href="https://avue-project-maker.onrender.com/avue">avue spray wall</a>
    </font></p>
    <p><font size="5">
      {% comment %} <a href="http://127.0.0.1:8000/avue_easy">avue spray wall (easy)</a> {% endcomment %}
      <a href="https://avue-project-maker.onrender.com/avue_easy">avue spray wall (easy)</a>
    </font></p>
    <br>
    <p><font size="5">
      {% comment %} <a href="http://127.0.0.1:8000/private">private wall</a> {% endcomment %}
      <a href="https://avue-project-maker.onrender.com/private">private wall</a>
    </font></p>
  </body>
</html>